/*

* Override Pages default styles or create your own styles here

*/

.display-flex {
  display:flex;
}

.campus-card {
  padding-bottom:15px;
}
.campus-card-background-image {
  background-size:100%;
}

.campus-card-background-overlay {
  background: rgba(0, 0, 0, 0.7);
}

.active .campus-card-background-overlay {
  background:rgba(255, 65, 65, 0.85);
}
